.category-header {
    color: white;
    background-color: orangered;
    border: solid orangered;
    width: 30%;
    margin-bottom: 0;
}

.category {
    display: flex;
    align-self: flex-end;
}

.header {
    display: flex;
    width: 100%;
    border-bottom: 5px solid orangered;
    justify-content: space-between;
}

.category-header {
    width: 100%;
}

.logo {
    align-self: flex-start;
}

.logo-styling {
    vertical-align: bottom;
}

.Card {
    border: solid black 3px;
    width: 32rem; /*see what else I can use for this*/
}

.card-img-top {
    height: 500px;
    width: 500px;
    padding: 5px;
}

.card-title, .card-text {
    font-family: "DM Sans";
    text-align: center;
}

.card-title {
    font-size: 50px;
}

button {
    border: solid black 2px;
    background-color: orangered;
    color: white;
    font-family: "DM Sans";
    font-size: 20px;
    padding: 15px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.levelBtn {
    color: black;
    font-size: 30px;
}

.levelBtn:hover {
    font-size: 35px;
}

.category-content {
    display: flex;
    flex-direction: row;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.science {
    order: 1;
    margin: 20px;
}

.computers {
    order: 2;
    margin: 20px;
}

.math {
    order: 3;
    margin: 20px;
}

p {
    font-size: 20px;
}

.science-btn:hover, .tech-btn:hover, .math-btn:hover {
    background-color: black;
}
