@media all and (max-width: 699px) {
    .landingAll {
        flex-direction: column;
    }

    .landingContent {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }

    #bunny-pic {
        height: 65vh;
        width: 100vw;
    }

    .landingContent > .landingText > h2 {
        font-family: 'DM Sans', sans-serif;
        font-size: 50px;
        text-align: center;
      }

    .landingText {
        padding-top: 15px;
        padding-bottom: 30px;
      }

    #logo {
        height: 10vh;
        width: 60vw;
        margin-top: 30px;
    }

    #play-now-btn {
        border: solid black 3px;
        background-color: black;
        color: white;
        font-family: "DM Sans";
        font-size: 30px;
        padding: 5px;
        margin-bottom: 30px;
        width: 60vw; 
    }
}


@media all and (min-width: 700px) and (max-width: 999px) {
    .landingAll {
        flex-direction: column;
    }

    .landingContent {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }

    #bunny-pic {
        height: 75vh;
        width: 100vw;
    }

    .landingText {
        padding-top: 15px;
        padding-bottom: 30px;
      }

      #logo {
        height: 20vh;
        width: 65vw;
        margin-top: 30px;
    }

    .landingContent > .landingText > h2 {
        font-family: 'DM Sans', sans-serif;
        font-size: 80px;
        text-align: center;
    }

    #play-now-btn {
        border: solid black 3px;
        background-color: black;
        color: white;
        font-family: "DM Sans";
        font-size: 70px;
        padding: 5px;
        margin-bottom: 30px;
    }


}


@media all and (min-width: 1000px) {
    .landingAll {
        display: flex;
        flex-direction: row;
    }

    .landingContent {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        order: -1;
    }

    #bunny-pic {
        height: 100vh;
        width: 50vw;
    }

    .landingContent > #logo {
        height: 30vh;
        width: 30vw;
    }

    .landingAll > .landingContent > .landingText > h2 {
        font-family: 'DM Sans', sans-serif;
        font-size: 80px;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    #play-now-btn {
        border: solid black 3px;
        background-color: black;
        color: white;
        font-family: "DM Sans";
        font-size: 25px;
        padding: 30px;
        width: 100%;
    }
    
    #play-now-btn:hover{
        border: solid orangered 3px;
        background-color: orangered;
        color: white;
        font-family: "DM Sans";
        font-size: 25px;
        padding: 30px;
        width: 100%;
    }

}