@import './reset.css';
@import './trivia.css';

@font-face {
    font-family: 'bantangas';
    src: url('../assets/Batangas\ Bold\ 700.otf');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

#app {
    font-family: 'DM Sans', sans-serif;
}