:root{
    --bg-color: #fe502d;
}

.app-container{
    width: 100vw;
    height: 100vh;
}

.trivia-page{
    background: var(--bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.nav-heading{
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 4.5em;
    color: white;
    font-family: 'bantangas';
}

.content-container{
    width: 80%;
    height: 80%;
    background: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
/* QUESTIONS */
.question-container{
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    border: 2px solid black;
    align-self: center;
    justify-self: center;
}

.question-container > span {
    margin-left: 10px;
}

/* BUTTONS */
.btn{
    color: #ffffff;
    background: #000000;
    width: 200px;
}

.btn:hover{
    color: #d8d8d8;
    background: #1e1e1e;
}

.bottom-wrapper{
    width: 90%;
    height: 60%;
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.button-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.button-container > button {
    margin: 10px;
}

/* MEME */
.meme-wrapper{
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meme-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* SCORE */
.info-text{
    width: 100%;
    font-size: 2em;
    display: flex;
    margin-bottom: 2px;
}

.user-score{
    margin-left: 10px;
    width: 49%;
}

/* ARROWS */
.question-nav-btns{
    width: 90%;
}

.question-nav-btns > div > img {
    width: 50px;
    height: 50px;
}
.arrow {
    float: right;
}

.arrow:hover{
    cursor: pointer;
    filter: invert(50%);
}

/* MODAL */
.modelo{
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    width: 50%;
    height: 25%;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modelo-text{
    font-size: 3em;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modelo-btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}