body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Batangas";
  src: local("Batangas"), url("./fonts/Batangas-Bold.otf") format("truetype");
  font-weight: bold;
}

h1 {
  font-family: "Batangas";
  font-size: 100px;
  color:orangered;
}

h2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 70px;
  text-align: center;
}

